html {
  font-family: "Exo 2", sans-serif;
}

#board {
  display: block;
  float: left;
  margin: 25px 0 0 25px;
  padding: 2px;
  border: 2px solid #feb64d;
  width: 276px;
  height: 276px;
  position: relative;
  background-color: #feb74d31;
}

#buttons {
  display: block;
  float: left;
  margin: 25px 0 0 25px;
  padding: 20px 0px;
}

.btn {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 128px;
  justify-content: center;
}

.key {
  font-size: 24px;
  margin-bottom: 2px;
  width: 40px;
  height: 40px;
}

.block {
  display: block;
  position: absolute;
  width: 62px;
  height: 57px;
  border: 2px solid #feb64d;
  background-color: #feb74d31;
  margin: 2px;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #4680ff;
  padding-top: 5px;
}

.active {
  background: #4681ff52;
  color: #4680ff;
}

.press {
  background: #0951ec52;
}

.x1y1 {
  left: 0px;
  top: 0px;
}
.x2y1 {
  left: 70px;
  top: 0px;
}
.x3y1 {
  left: 140px;
  top: 0px;
}
.x4y1 {
  left: 210px;
  top: 0px;
}

.x1y2 {
  left: 0px;
  top: 70px;
}
.x2y2 {
  left: 70px;
  top: 70px;
}
.x3y2 {
  left: 140px;
  top: 70px;
}
.x4y2 {
  left: 210px;
  top: 70px;
}

.x1y3 {
  left: 0px;
  top: 140px;
}
.x2y3 {
  left: 70px;
  top: 140px;
}
.x3y3 {
  left: 140px;
  top: 140px;
}
.x4y3 {
  left: 210px;
  top: 140px;
}

.x1y4 {
  left: 0px;
  top: 210px;
}
.x2y4 {
  left: 70px;
  top: 210px;
}
.x3y4 {
  left: 140px;
  top: 210px;
}
.x4y4 {
  left: 210px;
  top: 210px;
}
